<h1>写真一覧</h1>
<br>
<%= button_to '写真アップロード', { controller: 'photo_manage', action: 'new' }, { method: :get } %>
<br>


<% if @auth.token.present? %>
  <%= 'MyTwitterAPPと連携中' %>
  <br>
<% else %>
  <%= button_to 'MyTwitterAPPと連携', { controller: 'photo_manage', action: 'oauth' }, { method: :get } %>
  <br>
<% end %>
<% @photos.each do |photo| %>
  <%= photo.title %>
  <br>
  <%= image_tag photo.image.url %>
  <br>
  <%= button_to 'ツイートする', { controller: 'photo_manage', action: 'tweets' }, { method: :get, params: { photo_id: photo.id } } %>  
<% end %>
