<h1>ログイン</h1>

<% @user.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger">
    <%= msg %>
  </div>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Log in" %>
<% end %>
